@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif; /* ✅ Use sans-serif */
}


.question-delete{
    height: 192px;
    width: 312px;
    background-color: #FFF;
    border-radius: 14px;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    margin-left: 270px;
    margin-top: 170px;
}
.question-delete-cancle{
    margin-left: 83%;
    position: relative;
    top: 30px;
   
}

.question-delete h2{
    text-align: center;
     padding-top: 10px;
}

.button-container{
    margin-left:50px;
}
