@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif; /* ✅ Use sans-serif */
}


.edit-question{
    background-color: #a9a0a552;
    height: 690px;
    width: 488px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    margin: auto;
    position: absolute;
    top: 96px;
    margin-left: 149px;
}

.edit-question .questions-container{
    background-color: #ffff;
    height: 623px;
    width: 451px;
    margin-top: 31px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    display: flex;
    flex-direction: column;
}
.questions-container .edit-question-cancel{
    position: absolute;
    right: 40px;
    top: 48px;
    height: 20px;
    width: 20px;  
}

.question-set{
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 30px;
}
.question-set textarea{
    width: 400px;
    font-size: 1.1rem;
}
.question-set div select{
    width: 400px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 10px;
}
.edit-question div input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    font-size: 1.1rem;
}

